body
{
	text-align: center;
	background: url("fond.jpg") scroll 

}

h2, h3
{
	text-decoration: underline;
	color: blue;
}

p
{
	font-family: Arial, Comic Sans MS
}

blockquote
{
	font-weight: bold;
}

h1
{
	border:3px black solid
}

h1
{
	background-color:white;
}

aside
{
	font-style:italic;
}

ul
{
	font-weight: bold;
}